@import "./vars";

@mixin desktop {
    @media (min-width: 798px) {
        @content;
    }
}

@mixin gridWrapper($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-column-gap: $spacing-medium;
}

@mixin gridContent($start, $end) {
    grid-column-start: $start;
    grid-column-end: $end;
}
