$background-color-default: #eeeeee;
$background-color-contrast: #ffe600;
$text-color-default: #666666;
$text-color-dark: #333333;
$text-color-light: #999999;
$border-color-default: #eeeeee;
$button-color-default: #3484fa;
$hover-color-grey: #cccccc;
$spinner-color-default: #666666;
$spinner-size-default: 40px;
$spinner-size-large: 80px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
