@import "../../styles/mixins";
@import "../../styles/vars";

.container {
    @include gridWrapper(12);

    background-color: $background-color-contrast;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    align-items: center;

    @include desktop {
        padding-left: $spacing-large;
        padding-right: $spacing-large;
    }
}

.logoContainer {
    grid-column: 2;
}

.logo {
    height: 40px;

    &:hover {
        cursor: pointer;
    }
}

.bar {
    @include gridContent(3, 12);
    height: 40px;
    display: flex;
    flex-direction: row;
}

.label {
    display: none;
}

.searchBox {
    flex-grow: 1;
    border: none;
    padding-left: $spacing-medium;
    color: $text-color-dark;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
    margin: 0;

    ::placeholder {
        color: $text-color-light;
    }
}

.searchIconContainer {
    background-color: $background-color-default;
    padding: 10px;
    display: flex;
    border-radius: 0 4px 4px 0;

    &:hover {
        background-color: $hover-color-grey;
        cursor: pointer;
    }
}

.searchIcon {
    width: 20px;
}
